.container {
    padding: 40px !important;
}

.grid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    /* 3 items per row */
    gap: 30px !important;
}

.item-card {
    border: 1px solid #0b1059;
    font-size: 20px !important;
    padding: 32px !important;
    border-radius: 8px !important;
    transition: box-shadow 0.3s ease, transform 0.3s ease !important;
}

.item-card:hover {
    background-color: #0b1059;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-5px) !important;
    .item-icon {
        font-size: 80px !important;
        color: white !important;
        /* Red color */
        margin-bottom: 16px !important;
    }
}

.item-icon {
    font-size: 80px !important;
    color: #0b1059 !important;
    /* Red color */
    margin-bottom: 16px !important;
}

@media screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr) !important;
        /* 2 items per row on medium screens */
    }
}

@media screen and (max-width: 576px) {
    .grid {
        grid-template-columns: repeat(1, 1fr) !important;
        /* 1 item per row on small screens */
    }
}

.mat-mdc-card-title {
    align-self: center;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold !important;
}
.mat-mdc-card-header {
    align-self: center;

    .item-icon {
        height: 80px;
        width: 80px;
    }
  
}

.mat-mdc-card-content {
    display: block;
    padding: 0 15%;
    padding-bottom: 5%;
}