<!-- app.component.html -->
<div class="container">
  <header class="header">
    <div class="logo">
      <img src="logo-transparent-png.png" alt="">
    </div>
    <nav class="navbar">
      <a href="#">ABOUT US</a>
      <a href="#">SERVICES</a>
      <a href="#">CONTACT US</a>
    </nav>
  </header>

  <div class="main-content">
    <!-- callback-form.component.html -->
    <div class="callback-container">
      <h2>GET A CALL BACK
      <span class="highlight">SHORTLY</span></h2>
      <form (ngSubmit)="onSubmit(callbackForm)" #callbackForm="ngForm" class="callback-form">
        <div class="form-group">
          <input type="text" name="name" placeholder="NAME*" ngModel required />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="EMAIL*" ngModel required email />
        </div>
        <button type="submit" [disabled]="!callbackForm.valid" class="submit-btn">
          SUBMIT <span class="arrow">➔</span>
        </button>
      </form>
    </div>


    <div class="emergency-services">
      <div class="image">
        <img src="assets/ambulance.jpg" alt="Ambulance" />
      </div>
      <div class="description">
        <h2>24/7 Emergency Response Services with CAREBOND</h2>
        <br/>
        <p>
            At CAREBOND, we are committed to revolutionizing corporate healthcare by delivering innovative, accessible,
            and comprehensive solutions tailored to the needs of modern organizations and their employees.

            With expertise in addressing the unique challenges of corporate health, we empower businesses to create
            healthier, happier, and more productive workforces. Our solutions integrate cutting-edge technology with
            personalized care to ensure seamless access to medical services, wellness programs, and preventive
            healthcare.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <h2>Message</h2>
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">Close</button>
  </div>
</div>
