<!-- app.component.html -->
<div class="container">
  <header class="header">
    <div class="logo">
      <img src="logo-v1.jpeg" alt="">
    </div>
    <nav class="navbar">
      <mat-toolbar color="primary">
        <div mat-button class="menu-trigger" (click)="home()">
          HOME
        </div>

        <div mat-button class="menu-trigger">
          ABOUT US
        </div>

        <div mat-button [matMenuTriggerFor]="menu2" (mouseenter)="menuTrigger2.openMenu()"
          #menuTrigger2="matMenuTrigger" class="menu-trigger">
          SERVICES
        </div>

        <div mat-button class="menu-trigger">
          CONTACT US
        </div>
      </mat-toolbar>

      <!-- Menu 1 -->
      <!-- <mat-menu #menu1="matMenu" class="custom-menu" [overlapTrigger]="false" (mouseleave)="menuTrigger1.closeMenu()"
        (mouseenter)="menuTrigger1.openMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <mat-icon>contact_mail</mat-icon>
          <span>Contact</span>
        </button>
      </mat-menu> -->

      <!-- Menu 2 -->
      <mat-menu #menu2="matMenu" class="custom-menu" [overlapTrigger]="false" (mouseleave)="menuTrigger2.closeMenu()"
        (mouseenter)="menuTrigger2.openMenu()">
        <button mat-menu-item (click)="corporate()">
          <mat-icon>work</mat-icon>
          <span>Corporate</span>
        </button>
        <button mat-menu-item>
          <mat-icon>medical_services</mat-icon>
          <span>Hospital
          </span>
        </button>
        <button mat-menu-item>
          <mat-icon>people</mat-icon>
          <span> Individual
          </span>
        </button>
        <button mat-menu-item>
          <mat-icon>event</mat-icon>
          <span> Event
          </span>
        </button>
      </mat-menu>

      <!-- Menu 3 -->
      <!-- <mat-menu #menu3="matMenu" class="custom-menu" [overlapTrigger]="false" (mouseleave)="menuTrigger3.closeMenu()"
        (mouseenter)="menuTrigger3.openMenu()">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <mat-icon>contact_mail</mat-icon>
          <span>Contact</span>
        </button>
      </mat-menu> -->


    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
